<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>


<h1>Login</h1>
<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/register">Register here</a>.</p>
<p>Forgot your password? <a href="/forgot-password">Reset it here</a>.</p>
<p>Need help? <a href="/help">Visit our help page</a>.</p>
<p>Back to <a href="/">home</a>.</p>


</body>
</html>